.myProfileBlogPostHolder{
    width: 40%;
    margin-left:5%;
    display: inline-block;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px 2px;    
    padding: 1%;
}
#readEntireBlog1{  
    background-color:  rgb(95, 69, 33);
    color: ghostwhite;
    font-weight: 500;
    border-radius: 5%;
}
#readEntireBlog1:hover{
    background-color:  #35585a;
    border-right: 25px solid gainsboro;
    color: ghostwhite;
}
h3{
    font-size: 1.5rem;
}
@media only screen and (max-width: 1160px) { 
    .myProfileBlogPostHolder{
        width: 80%;
        margin-left:5%;
        display: block;
        margin-bottom: 3%;
        padding: 5%;
    }
}
@media only screen and (max-width: 820px) { 
    .myProfileBlogPostHolder{
        width: 85%;
    }
   
}
@media only screen and (max-width: 665px) { 
    .myProfileBlogPostHolder{
        width: 90%;
        margin-left:2%;
    }
}
@media only screen and (max-width: 525px) { 
    .myProfileBlogPostHolder{
        width: 95%;
        margin-left: 0%;
    }
}
@media only screen and (max-width: 525px) { 
    .myProfileBlogPostHolder{
        width: 100%;
    }
}
@media only screen and (max-width: 450px) { 
    .myProfileBlogPostHolder{
        margin-bottom: 5%;
        border: none;
    }
    .card-header h3{
        font-size: 1.3rem;
    }
    .card-header h5{
        font-size: 1.1rem;
        margin: 0px;
    }
    .card-body p{
        font-size: 0.9rem;
        margin: 0px;
    }
    .card-footer p{
        font-size: 0.9rem;
    }
}